body {
  font-size: 18px;
}

p {
  font-family: "Panton-Light";
  letter-spacing: .025em;
  line-height: 24px;
}

h3 {
  font-family: "Panton-Bold";
  font-size: 20px;
  text-align: center;
  letter-spacing: .03em;
  text-transform: uppercase;
}

a {
  color: inherit;
  display: block;
}

@media (min-width: 768px) {
  h3 {
    font-family: "Panton-Black";
  }

  h3 {
    text-align: left;
    letter-spacing: .02em;
  }
}
@font-face {
  font-family: "Panton-Bold";
  src: url("../fonts/Panton/Panton-Bold.eot");
  src: url("../fonts/Panton/Panton-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton/Panton-Bold.woff") format("woff"), url("../fonts/Panton/Panton-Bold.ttf") format("truetype"), url("../fonts/Panton/Panton-Bold.svg#Panton-Bold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Panton-ExtraLight";
  src: url("../fonts/Panton/Panton-ExtraLight.eot");
  src: url("../fonts/Panton/Panton-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton/Panton-ExtraLight.woff") format("woff"), url("../fonts/Panton/Panton-ExtraLight.ttf") format("truetype"), url("../fonts/Panton/Panton-ExtraLight.svg#Panton-ExtraLight") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Panton-Heavy";
  src: url("../fonts/Panton/Panton-Heavy.eot");
  src: url("../fonts/Panton/Panton-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton/Panton-Heavy.woff") format("woff"), url("../fonts/Panton/Panton-Heavy.ttf") format("truetype"), url("../fonts/Panton/Panton-Heavy.svg#Panton-Heavy") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Panton-Regular";
  src: url("../fonts/Panton/Panton-Regular.eot");
  src: url("../fonts/Panton/Panton-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton/Panton-Regular.woff") format("woff"), url("../fonts/Panton/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton/Panton-Regular.svg#Panton-Regular") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Panton-LightItalic";
  src: url("../fonts/Panton/Panton-LightItalic.eot");
  src: url("../fonts/Panton/Panton-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton/Panton-LightItalic.woff") format("woff"), url("../fonts/Panton/Panton-LightItalic.ttf") format("truetype"), url("../fonts/Panton/Panton-LightItalic.svg#Panton-LightItalic") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Panton-Black";
  src: url("../fonts/Panton/Panton-Black.eot");
  src: url("../fonts/Panton/Panton-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton/Panton-Black.woff") format("woff"), url("../fonts/Panton/Panton-Black.ttf") format("truetype"), url("../fonts/Panton/Panton-Black.svg#Panton-Black") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Panton-Light";
  src: url("../fonts/Panton/Panton-Light.eot");
  src: url("../fonts/Panton/Panton-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton/Panton-Light.woff") format("woff"), url("../fonts/Panton/Panton-Light.ttf") format("truetype"), url("../fonts/Panton/Panton-Light.svg#Panton-Light") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Panton-Semibold";
  src: url("../fonts/Panton/Panton-Semibold.eot");
  src: url("../fonts/Panton/Panton-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton/Panton-Semibold.woff") format("woff"), url("../fonts/Panton/Panton-Semibold.ttf") format("truetype"), url("../fonts/Panton/Panton-Semibold.svg#Panton-Semibold") format("svg");
  font-style: normal;
  font-weight: normal;
}
.benefits {
  background-image: url("../img/benefits/background.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  grid-row-gap: 20px;
}

@media (min-width: 768px) {
  .benefits {
    padding: 60px 0;
    height: initial;
  }
}

@media (min-width: 992px) {
  .benefits {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .benefits {
    padding: 120px 0;
  }
}
.blog {
  background-image: url("../img/blog/background.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .blog {
    padding-top: 110px;
  }
}
.benefits-item {
  grid-column: span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  height: 180px;
}

@media (min-width: 768px) {
  .benefits-item {
    grid-column: span 3;
    height: 190px;
  }
}

@media (min-width: 992px) {
  .benefits-item {
    height: 200px;
  }
}
.blog-item {
  grid-column: span 12;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .blog-item {
    grid-column: span 4;
  }
}

@media (min-width: 1200px) {
  .blog-item {
    opacity: .9;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }

  .blog-item:hover {
    opacity: 1;
  }
}
.booking {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 40px;
}

@media (min-width: 768px) {
  .booking {
    padding-top: 80px;
  }
}

@media (min-width: 1200px) {
  .booking {
    padding-top: 100px;
  }
}
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Panton-Heavy";
  border: 3px solid #f9e32e;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
  max-width: 100%;
  text-align: center;
  cursor: pointer;
}
.conditions {
  background-image: url("../img/conditions/background.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .conditions {
    padding-top: 30px;
    padding-bottom: 150px;
  }
}

@media (min-width: 992px) {
  .conditions {
    padding-top: 80px;
  }
}
.cta-franch {
  background-image: url("../img/cta-franch/background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

@media (min-width: 992px) {
  .cta-franch {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.cta-partner {
  font-family: "Panton-Semibold";
  background-image: url("../img/cta-partner/background.jpg");
  background-position: center;
  background-size: "initial";
  color: #fff;
  padding: 80px 0;
}

@media (min-width: 768px) {
  .cta-partner {
    padding: 100px 0;
  }
}

@media (min-width: 992px) {
  .cta-partner {
    padding-top: 150px !important;
    padding-bottom: 110px !important;
  }
}
.designer {
  font-family: "Panton-Regular";
  font-size: 16px;
  opacity: .15;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  padding-top: 20px;
}

@media (min-width: 576px) {
  .designer {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .designer {
    width: 738px;
  }
}

@media (min-width: 992px) {
  .designer {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .designer {
    width: 1170px;
  }

  .designer {
    padding-top: 50px;
  }
}
.directions {
  background-image: url("../img/directions/background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  padding: 45px 0;
}

@media (min-width: 768px) {
  .directions {
    padding: 60px 0;
    height: initial;
  }
}

@media (min-width: 992px) {
  .directions {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .directions {
    padding: 80px 0 120px 0;
  }
}
.directions-item {
  background-image: url("../img/directions/item-background.png");
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  color: #fefefe;
  font-size: 24px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px;
}

@media (min-width: 992px) {
  .directions-item {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .directions-item {
    width: 335px;
    height: 529px;
  }
}
.footer {
  font-family: "Panton-Regular";
  font-size: 20px;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  background-color: #1b1b1e;
  line-height: 1.15em;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 95px;
    padding-bottom: 50px;
  }
}
.form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
}

@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row;
    grid-column-gap: 15px;
  }
}

@media (min-width: 992px) {
  .form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    grid-column-gap: 15px;
  }
}
.h1 {
  font-family: "Panton-Heavy";
  font-size: 80px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 120px;
    display: initial;
    line-height: .5em;
  }
}
.h2 {
  font-family: "Panton-Heavy";
  letter-spacing: .025em;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  grid-column: span 12;
  position: relative;
}

@media (min-width: 768px) {
  .h2 {
    letter-spacing: initial;
    font-size: 44px;
  }
}
.header {
  height: 54px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Panton-Bold";
  font-size: 22px;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
}

@media (min-width: 768px) {
  .header {
    height: 118px;
  }
}
.hidden {
  opacity: 0;
}
img {
  max-width: 100%;
}
.map {
  width: 100%;
  height: 700px;
  display: none;
}

@media (min-width: 768px) {
  .map {
    display: block;
  }
}
.menu {
  text-align: left;
}
.parameters {
  background-image: url("../img/parameters/background.jpg");
  background-position: center;
  background-size: cover;
}
.partners {
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  padding: 40px 15px;
}

@media (min-width: 576px) {
  .partners {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .partners {
    width: 738px;
  }

  .partners {
    padding: 120px 0;
  }
}

@media (min-width: 992px) {
  .partners {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .partners {
    width: 1170px;
  }
}
.partners-item {
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .partners-item {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .8;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }

  .partners-item:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
  }
}
.primary-screen {
  background-image: url("../img/primary-screen/background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 54px;
}

@media (min-width: 768px) {
  .primary-screen {
    padding-top: 118px;
  }
}
.projects {
  background-image: url("../img/projects/background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  grid-row-gap: 20px;
  height: auto;
  padding: 45px 0;
}

@media (min-width: 768px) {
  .projects {
    padding: 60px 0;
    height: initial;
  }
}

@media (min-width: 992px) {
  .projects {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .projects {
    padding: 80px 0 120px 0;
  }
}
.projects-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 353px;
}

@media (min-width: 1200px) {
  .projects-item {
    opacity: .9;
    -webkit-transition: all .25s;
    transition: all .25s;
  }

  .projects-item:hover {
    opacity: 1;
  }
}
.section {
  width: 100%;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 80px;
}
.select {
  font-family: "Panton-LightItalic";
  display: inline-block;
  position: relative;
  color: #1a1a1a;
  width: 100%;
}

select {
  font-family: inherit;
}

.select select {
  width: 100%;
}
.slider {
  grid-column: span 12;
  position: relative;
  width: calc(100% + 15px * 2);
  left: -15px;
}

@media (min-width: 768px) {
  .slider {
    width: initial;
    left: initial;
  }
}

@media (min-width: 992px) {
  .slider {
    padding: 0 60px;
  }
}
.visible {
  padding: 1px;
}
.benefits__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .benefits__wrapper {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .benefits__wrapper {
    width: 738px;
  }
}

@media (min-width: 992px) {
  .benefits__wrapper {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .benefits__wrapper {
    width: 1170px;
  }
}
.blog__items {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  grid-template-rows: repeat(5, 300px);
  margin: 0 -15px;
  grid-row-gap: 15px;
}

@media (min-width: 768px) {
  .blog__items {
    margin: 0;
    grid-template-rows: repeat(3, 180px);
  }
}

@media (min-width: 992px) {
  .blog__items {
    grid-template-rows: repeat(3, 237px);
  }
}

@media (min-width: 1200px) {
  .blog__items {
    grid-template-rows: repeat(3, 290px);
  }
}
.benefits-item__hex {
  position: initial;
}
.benefits-item__img {
  position: absolute;
}
.benefits-item__img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.benefits-item__title {
  font-family: "Panton-Bold";
  font-size: 16px;
  letter-spacing: 0.055em;
  text-align: center;
  max-width: 160px;
}

@media (min-width: 768px) {
  .benefits-item__title {
    font-size: 18px;
    max-width: 190px;
  }
}
.blog-item_lg {
  grid-row: span 1;
}

@media (min-width: 768px) {
  .blog-item_lg {
    grid-row: span 3;
  }
}
.blog-item_md {
  grid-row: span 1;
}

@media (min-width: 768px) {
  .blog-item_md {
    grid-row: span 2;
  }
}
.blog-item__img {
  width: 100%;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

@media (min-width: 768px) {
  .blog-item__img {
    height: 100%;
  }
}
.blog-item__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.blog-item__link-more {
  font-size: .78em;
  color: inherit;
  text-transform: uppercase;
}
.blog-item__overlay {
  font-family: "Panton-Regular";
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.blog-item__text {
  color: #fff;
  max-width: 85%;
  line-height: 1.2em;
}
.body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.body__layout-grid {
  display: grid;
  grid-template-rows: 100vh auto auto;
}
.booking__form {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
@media (min-width: 768px) {
  .booking__form-button {
    grid-column: 5 / 9 !important;
  }
}

@media (min-width: 992px) {
  .booking__form-button {
    grid-column: 10 / 13 !important;
  }
}
.booking__form-item {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .booking__form-item {
    grid-column: span 4;
  }
}

@media (min-width: 992px) {
  .booking__form-item {
    grid-column: span 3;
  }
}
.booking__header {
  position: relative;
}

.booking__header:before,
.booking__header:after {
  display: none;
}

@media (min-width: 768px) {
  .booking__header {
    padding-bottom: 0;
  }

  .booking__header:before,
  .booking__header:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 30px;
    height: 350px;
    top: 20px;
  }

  .booking__header:before {
    border-top: 6px solid #f9e32e;
    border-left: 6px solid #f9e32e;
    left: -10px;
  }

  .booking__header:after {
    border-top: 6px solid #d8d8d7;
    border-right: 6px solid #d8d8d7;
    right: -10px;
  }
}

@media (min-width: 992px) {
  .booking__header:before,
  .booking__header:after {
    height: 250px;
  }

  .booking__header:before {
    left: -15px;
  }

  .booking__header:after {
    right: -10px;
  }
}

@media (min-width: 1200px) {
  .booking__header:before,
  .booking__header:after {
    width: 240px;
  }
}
.booking__select {
  border: 1px solid #262626;
  border-radius: 5px;
  height: 66px;
  width: 270px;
  padding-left: 25px;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
.booking__wrapper {
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}

@media (min-width: 576px) {
  .booking__wrapper {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .booking__wrapper {
    width: 738px;
  }
}

@media (min-width: 992px) {
  .booking__wrapper {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .booking__wrapper {
    width: 1170px;
  }
}
.btn_black-text:hover {
  color: #000 !important;
}
.btn_lg {
  font-size: 22px;
  height: 70px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  grid-column: span 12;
}

@media (min-width: 768px) {
  .btn_lg {
    margin: 0 15px;
    height: 86px;
    min-width: 320px;
  }
}
.btn_md {
  font-size: 20px;
  height: 66px;
  box-sizing: border-box;
  width: 100%;
  grid-column: span 12;
}

@media (min-width: 768px) {
  .btn_md {
    grid-column: span 6;
  }
}

@media (min-width: 1200px) {
  .btn_md {
    width: 272px;
  }
}
.btn_sm {
  height: 60px;
  min-width: 200px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .btn_sm {
    height: 80px;
    min-width: 257px;
    font-size: 24px;
  }
}
.btn_solid {
  color: #000;
  background-color: #f9e32e;
}

@media (min-width: 1200px) {
  .btn_solid:hover {
    background: transparent;
    color: #fff;
  }
}
.btn_transp {
  color: #fff;
}

@media (min-width: 1200px) {
  .btn_transp:hover {
    background-color: #f9e32e;
    color: #000;
  }
}
.btn_xl {
  font-size: 24px;
  height: 70px;
  box-sizing: border-box;
  width: 100%;
  grid-column: span 12;
}

@media (min-width: 768px) {
  .btn_xl {
    height: 66px;
    width: 374px;
  }
}
.conditions__body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  grid-column: span 12;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 55px;
}
.conditions__img {
  grid-column: span 12;
  position: relative;
  width: calc(100% + 15px * 2);
  left: -15px;
  grid-row: 2;
}

@media (min-width: 768px) {
  .conditions__img {
    width: initial;
    left: initial;
  }

  .conditions__img {
    grid-column: span 6;
    grid-row: auto;
  }
}
.conditions__row {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}

@media (min-width: 768px) {
  .conditions__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.conditions__text {
  grid-column: span 12;
  display: grid;
  grid-row-gap: 20px;
}

@media (min-width: 768px) {
  .conditions__text {
    grid-column: span 6;
  }
}
.conditions__text-body {
  font-family: "Panton-Light";
  display: grid;
  grid-row-gap: 10px;
}

@media (min-width: 768px) {
  .conditions__text-body {
    grid-row-gap: 15px;
  }
}
.cta-franch__btn {
  grid-column: 6 / 8 !important;
}
.cta-franch__figure {
  font-family: "Panton-Heavy";
  font-size: 1.075em;
}
.cta-franch__lines {
  grid-column: span 12;
  display: none;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .cta-franch__lines {
    display: initial;
  }
}
.cta-franch__text {
  font-family: "Panton-Bold";
  font-size: 30px;
  color: #fff;
  letter-spacing: .05em;
  grid-column: span 12;
  max-width: 760px;
  line-height: 1.1em;
}

@media (min-width: 768px) {
  .cta-franch__text {
    font-size: 40px;
  }
}
.cta-franch__wrapper {
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  justify-items: center;
  grid-row-gap: 20px;
}

@media (min-width: 576px) {
  .cta-franch__wrapper {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .cta-franch__wrapper {
    width: 738px;
  }
}

@media (min-width: 992px) {
  .cta-franch__wrapper {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .cta-franch__wrapper {
    width: 1170px;
  }
}
.cta-partner__agreement {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
  grid-column: span 12;
}

@media (min-width: 768px) {
  .cta-partner__agreement {
    grid-column: span 6;
  }
}

@media (min-width: 992px) {
  .cta-partner__agreement {
    grid-column: span 12;
  }
}
.cta-partner__form {
  grid-column: span 12;
  grid-row-gap: 20px;
}

@media (min-width: 768px) {
  .cta-partner__form {
    grid-column: span 6;
  }
}
.cta-partner__text {
  grid-column: span 12;
  display: grid;
  grid-row-gap: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .cta-partner__text {
    grid-column: span 6;
    text-align: initial;
  }
}
.cta-partner__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.designer__text {
  grid-column: span 12;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .designer__text:before,
  .designer__text:after {
    content: '';
    display: block;
    position: absolute;
    width: 265px;
    background-color: #7d7d7d;
    top: 40%;
    height: 2px;
  }

  .designer__text:before {
    left: 0;
  }

  .designer__text:after {
    background-color: #7d7d7d;
    right: 0;
  }
}

@media (min-width: 992px) {
  .designer__text:before {
    width: 380px;
  }

  .designer__text:after {
    width: 380px;
  }
}

@media (min-width: 1200px) {
  .designer__text:before {
    width: 480px;
  }

  .designer__text:after {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .directions__slider-arrow {
    font-size: 40px;
    background-color: transparent;
    color: #7f7e7e;
    cursor: pointer;
    border: none;
  }

  .directions__slider-arrow:hover {
    color: #000;
  }
}
.directions-item__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 85px;
  padding-top: 15px;
  text-align: center;
}

@media (min-width: 1200px) {
  .directions-item__content {
    padding-top: 0;
  }
}
.directions-item__img {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

@media (min-width: 992px) {
  .directions-item__img {
    opacity: .9;
  }
}
.directions-item__img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 90%;
}

@media (min-width: 768px) {
  .directions-item__img-overlay {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .directions-item__img-overlay {
    width: 90%;
  }
}
.directions-item__text {
  font-family: "Panton-Regular";
  font-size: .73em;
  opacity: .7;
}
.directions-item__title {
  font-family: "Panton-Bold";
  margin-bottom: 10px;
}
.figure__delimeter {
  margin: 0 8px;
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer__col {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .footer__col {
    grid-column: span 4;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 14px;
}
.footer__logo {
  height: 50%;
}

@media (min-width: 768px) {
  .footer__logo {
    width: auto;
    height: auto;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 50px;
  width: 100%;
  height: 50%;
}

@media (min-width: 768px) {
  .footer__socials {
    width: 50%;
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .footer__socials-link {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
  }

  .footer__socials-link:hover {
    color: #903d3b;
    text-decoration: none !important;
  }
}
.footer__title {
  font-family: "Panton-Bold";
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__title:after {
  content: '';
  display: block;
  position: relative;
  height: 3px;
  width: 55px;
  background-color: #863b39;
  bottom: -10px;
}

@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 30px;
    display: block;
  }
}
.footer_wrapper {
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 576px) {
  .footer_wrapper {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .footer_wrapper {
    width: 738px;
  }
}

@media (min-width: 992px) {
  .footer_wrapper {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .footer_wrapper {
    width: 1170px;
  }
}
.form__input {
  font-family: "Panton-LightItalic";
  border-radius: 5px;
  border: none;
  opacity: .8;
  padding-left: 25px;
}
.h1__subheader {
  display: block;
  font-family: "Panton-Bold";
  font-size: 0.3em;
}
.h1_sm {
  font-size: 36px;
  line-height: .8em;
}

@media (min-width: 768px) {
  .h1_sm {
    font-size: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.h2_black {
  color: #1a1a1a;
}
.h2_decor:before,
.h2_decor:after {
  content: '';
  display: none;
  height: 3px;
  width: 50%;
  position: relative;
}

.h2_decor:before {
  background-color: #0e0d09;
  margin-left: auto;
  top: -5px;
}

.h2_decor:after {
  background-color: #f9e32e;
  left: 0;
  bottom: -5px;
}

@media (min-width: 768px) {
  .h2_decor {
    padding: 23px 0;
  }

  .h2_decor:before,
  .h2_decor:after {
    width: 36%;
    height: 7px;
    display: block;
  }

  .h2_decor:before {
    top: -23pxpx;
  }

  .h2_decor:after {
    bottom: -23pxpx;
  }
}
.h2_narrow {
  font-size: 30px;
  grid-column: span 12;
}

@media (min-width: 768px) {
  .h2_narrow {
    font-size: 40px;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .h2_narrow {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}
.h2_white {
  color: #fff;
}
.h2__subheader {
  font-family: "Panton-Light";
  font-size: 18px;
  text-transform: none;
  line-height: 24px;
  padding-top: 25px;
}
.header__actions {
  text-align: right;
  display: none;
  grid-column: span 12;
}

@media (min-width: 768px) {
  .header__actions {
    display: initial;
    grid-column: span 4;
  }
}

@media (min-width: 992px) {
  .header__actions {
    grid-column: span 2;
  }
}
.header__content {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .header__content {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .header__content {
    width: 738px;
  }
}

@media (min-width: 992px) {
  .header__content {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .header__content {
    width: 1170px;
  }
}
.header__hamburger {
  grid-column: span 3;
}

@media (min-width: 768px) {
  .header__hamburger {
    grid-column: span 1;
  }
}
.header__logo {
  font-family: "Panton-ExtraLight";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
  grid-column: span 12;
}

@media (min-width: 576px) {
  .header__logo {
    grid-column: span 12;
  }
}

@media (min-width: 768px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: span 2;
  }
}

@media (min-width: 992px) {
  .header__logo {
    grid-column: span 6;
  }
}
.header__logo-img {
  margin: 0 28px;
}
.header__logo-text {
  width: 174px;
  display: none;
}

@media (min-width: 992px) {
  .header__logo-text {
    display: initial;
  }
}
.header__menu {
  font-family: "Panton-Regular";
  font-size: 30px;
  letter-spacing: .03em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  padding: 0 15px;
  margin: 0 auto;
  grid-row-gap: 0;
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
  box-shadow: rgba(37, 37, 37, 0.5) 0px 1px 5px;
}

@media (min-width: 576px) {
  .header__menu {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .header__menu {
    width: 738px;
  }

  .header__menu {
    display: inline-block;
    position: absolute;
    left: -350px;
    width: auto !important;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
  }
}

@media (min-width: 992px) {
  .header__menu {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .header__menu {
    width: 1170px;
  }
}
.header__menu-item {
  grid-column: span 12;
  text-transform: uppercase;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: calc(100% + 15px * 2);
  left: -15px;
  border-bottom: 1px solid #353535;
}

@media (min-width: 768px) {
  .header__menu-item {
    width: initial;
    left: initial;
  }
}
.header__phone {
  grid-column: span 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .header__phone {
    grid-column: span 5;
    letter-spacing: 0.1em;
  }
}

@media (min-width: 992px) {
  .header__phone {
    grid-column: span 3;
    letter-spacing: 0.05em;
  }
}

@media (min-width: 1200px) {
  .header__phone {
    letter-spacing: 0.15em;
  }
}
.icon_inline-left {
  margin-right: 7px;
}
.icon_inline-right {
  margin-left: 7px;
}
.icon_inline-sm {
  font-size: .6em;
  opacity: .9;
}
.link_no-decor {
  color: inherit;
  text-decoration: none;
}

.link_no-decor:hover {
  text-decoration: none;
}
.parameters__action {
  text-align: center;
  grid-column: span 2;
}
.parameters__body {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}
.parameters_icon {
  font-size: 1.67em;
  margin-right: 12px;
}
.parameters__img {
  position: relative;
  width: calc(100% + 15px * 2);
  left: -15px;
  grid-column: span 12;
  -ms-flex-item-align: center;
  align-self: center;
}

@media (min-width: 768px) {
  .parameters__img {
    width: initial;
    left: initial;
  }

  .parameters__img {
    grid-column: span 6;
  }
}
.parameters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.parameters__items {
  font-family: "Panton-Light";
  display: grid;
  grid-row-gap: 18px;
}
.parameters__text {
  grid-column: span 12;
  display: grid;
  grid-row-gap: 20px;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  grid-template-columns: 100%;
}

@media (min-width: 768px) {
  .parameters__text {
    grid-column: span 6;
    grid-row-gap: 25px;
  }
}
.primary-screen__actions {
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .primary-screen__actions {
    height: auto;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.primary-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 1;
}

@media (min-width: 576px) {
  .primary-screen__content {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .primary-screen__content {
    width: 738px;
  }
}

@media (min-width: 992px) {
  .primary-screen__content {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .primary-screen__content {
    width: 1170px;
  }
}
.primary-screen__overlay {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .primary-screen__overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.projects__slider-arrow {
  width: 40px;
  height: 40px;
  background-color: #f9e32e;
  color: #000;
  border-radius: 50%;
  border: 1px solid #fff;
}

@media (min-width: 992px) {
  .projects__slider-arrow {
    background-color: transparent;
    color: #fff;
  }

  .projects__slider-arrow:hover {
    background-color: #f9e32e;
    border: 1px solid #000;
    color: #000;
  }
}
.projects__wrapper {
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
}

@media (min-width: 576px) {
  .projects__wrapper {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .projects__wrapper {
    width: 738px;
  }
}

@media (min-width: 992px) {
  .projects__wrapper {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .projects__wrapper {
    width: 1170px;
  }
}
.projects-item__img {
  max-width: 90%;
}

@media (min-width: 576px) {
  .projects-item__img {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .projects-item__img {
    max-width: 95%;
  }
}

@media (min-width: 992px) {
  .projects-item__img {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .projects-item__img {
    max-width: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }

  .projects-item__img:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }
}
.projects-item__img-overlay {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.projects-item__title {
  font-family: "Panton-Bold";
  color: #fff;
  text-align: center;
  margin-top: 22px;
  font-size: 24px;
}
.section__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  padding: 0 15px;
  margin: 0 auto;
  grid-row-gap: 50px;
}

@media (min-width: 576px) {
  .section__wrapper {
    width: 546px;
  }
}

@media (min-width: 768px) {
  .section__wrapper {
    width: 738px;
  }

  .section__wrapper {
    grid-row-gap: 70px;
  }
}

@media (min-width: 992px) {
  .section__wrapper {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .section__wrapper {
    width: 1170px;
  }
}
.select__caret {
  position: absolute;
  right: 15px;
  top: 27px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  opacity: .5;
  z-index: -1;
}
.slider__arrow {
  position: absolute;
  top: 40%;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.blog-item__img_hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.directions-item__img_hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1;
}
.footer__col_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 230px;
}

@media (min-width: 768px) {
  .footer__col_logos {
    height: 270px;
    padding-bottom: 0;
  }
}
.form__input_md {
  font-size: 20px;
  height: 66px;
  box-sizing: border-box;
  width: 100%;
  grid-column: span 12;
}

@media (min-width: 768px) {
  .form__input_md {
    grid-column: span 6;
  }
}

@media (min-width: 1200px) {
  .form__input_md {
    width: 272px;
    grid-column: span 6;
  }
}
.header__logo-text_left {
  text-align: right;
}
.header__menu_active {
  left: 0;
}
.select__caret_active {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 1;
}
.slider__arrow_next {
  right: 15px;
}
.slider__arrow_prev {
  left: 15px;
}